@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="~/Style/bootstrap.css" rel="stylesheet" />
    <script src="~/Script/am.js"></script>
    <script src="~/Script/jQuery.js"></script>
    <script type="text/javascript">
       // var am = {};
        ////页面load完成后装载插件
        $(window).load(
            function () {
               // am = new AM(null, "demo");
                //am.init(document.getElementById("tmpImg").getElementsByTagName("img"));
                // am.setCover("/Image/1.jpg");
                // am.setCover("/Image/1.jpg", document.getElementById("tmpImg").getElementsByTagName("img"));

            });

    </script>
</head>
<body>

    <div id="demo">

    </div>
    <div id="tmpImg" style=" display:block">
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
        <img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" /><img src="/Image/1.jpg" />
        <img src="/Image/2.jpg" />
    </div>
</body>
</html>